<div fxLayout="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign="center center"
     class="top-bottom-container"
     *ngIf="userData as user">
  <mat-card>
    <mat-card-content>
      <p>Please enter your email address to request a password reset.</p>
      <mat-form-field class="demo-full-width">
        <input
               matInput
               placeholder="Your Email: {{user.email}}"
               #passwordReset required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-around start">
      <a mat-stroked-button color="primary" routerLink="/members/user-profile">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Back &nbsp;
      </a>
      <button mat-stroked-button
              color="accent"
              (click)="auth.changePassword(passwordReset.value)">
        Reset Password
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<!--<div class="container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
  <mat-card *ngIf="userData as user">
    <mat-card-content>
      <p>Please enter your email address to request a password reset.</p>
      <mat-form-field class="demo-full-width">
        <input matInput placeholder="Your Email: {{user.email}}" #passwordReset required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="auth.changePassword(passwordReset.value)">Reset Password</button>
    </mat-card-actions>
  </mat-card>
</div>-->
